# Home Assistant
homeassistant/.storage/
homeassistant/*.db
homeassistant/*.log
homeassistant/secrets.yaml

# ESPHome
esphome/.build/
esphome/.cache/
esphome/secrets.yaml

# General
*.log
hardware/sensor_pcb/kicad/Sensores-backups/Sensores-2026-01-03_155557.zip
