version: "3.9"

services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    volumes:
      - ./homeassistant:/config
    restart: unless-stopped

  esphome:
    image: esphome/esphome
    container_name: esphome
    ports:
      - "6052:6052"
    volumes:
      - ./esphome:/config
    restart: unless-stopped