esphome:
  name: "sensor_node"
  friendly_name: "sensor_node"
  on_boot:
      priority: 800
      then:
        - switch.turn_on: mmwave_sensor

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "XUVcfB/9H7K3fq3gCcgG3KYCqQbNfptDzXely84t8kA="

ota:
  - platform: esphome
    password: "1f4b66d7ca0a52df9240ded3e493a7ef"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esphome Fallback Hotspot"
    password: "vPhYuGi4Rdpi"

espnow:
  peers: !secret peer_mac_actuator
  
i2c:
  sda: 22
  scl: 21
  scan: true
 
uart:
  id: uart_bus
  tx_pin: GPIO25 #Change to your TX pin
  rx_pin: GPIO26 #Change to your RX pin
  baud_rate: 9600

binary_sensor:
  - platform: gpio
    name: Occupancy
    id: mmwave
    device_class: occupancy
    pin:
      number: GPIO27 #Change to your GPIO pin
      mode: INPUT_PULLDOWN
    on_state:
      then:
        - espnow.send:
            address: !secret peer_mac_actuator
            data: !lambda |-
              std::vector<uint8_t> payload;
              if (id(mmwave).state) {
                std::string msg = "ONN";
                payload.insert(payload.end(), msg.begin(), msg.end());
              } else {
                std::string msg = "OFF";
                payload.insert(payload.end(), msg.begin(), msg.end());
              }
              return payload;
    
sensor:
  - platform: veml7700
    address: 0x10
    update_interval: 1s
    ambient_light:
      name: "VEML7700 Luminosidad"
      id: lux_sensor
      on_value:
        then:
          - espnow.send:
              address: !secret peer_mac_actuator
              data: !lambda |-
                std::vector<uint8_t> payload;
                uint16_t lux = (uint16_t) id(lux_sensor).state;
                payload.push_back(lux & 0xFF); // LSB
                payload.push_back((lux >> 8) & 0xFF); // MSB
                return payload;

switch:
  - platform: template
    name: mmWave sensor
    id: mmwave_sensor
    disabled_by_default: false
    entity_category: config
    optimistic: true
    restore_mode: RESTORE_DEFAULT_ON
    turn_on_action:
      - uart.write: "sensorStart"
      - delay: 1s
      - uart.write: [0x00]   # eExitMode
      - delay: 1s
      - uart.write: "saveConfig"
      - delay: 3s
    turn_off_action:
      - uart.write: "sensorStop"
      - delay: 1s


button:
  - platform: template
    name: Restart mmWave Sensor
    id: restart_mmwave
    entity_category: config
    internal: true
    on_press:
      - uart.write: "resetSystem"